/* @import url('https://cdn.metroui.org.ua/v4/css/metro-all.min.css'); */
@import url('https://cdn.metroui.org.ua/v4/css/metro-icons.min.css');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: url("assets/images/Windows-10-lock-screen.jpg") center center no-repeat; */
  /* background-size: cover; */
}

.row {
  margin-left: 10px;
  margin-right: 10px;
}

.radio label input:checked~span::before {

  padding: 6px 1px;
}

.checkbox label input:checked~span::before {
  font-size: 15px;
}

.nav-tabs>li {
  float: right;
}

