/* @import url('https://cdn.metroui.org.ua/v4/css/metro-all.min.css'); */
@import url('https://cdn.metroui.org.ua/v4/css/metro-icons.min.css');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: url("assets/images/Windows-10-lock-screen.jpg") center center no-repeat; */
  /* background-size: cover; */
}


